body, html {
    height: 100%;
    min-height: 100%;
    position: relative;
}
body {
    background: url("img/images.jpeg") 100% 100% repeat;
    background-size: cover;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
p {
    font-size: 1.5em;
}
#par {
    position: relative;
    top: 1.9rem;
    opacity: .8;
    max-width: 100%;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

#par-1, #par-2 {
    position: relative;
    top: 1rem
}
#par-1 .thumbnail img,
#par-2 .thumbnail img {
    max-width: 100%;
    border: 3px solid black;
    position: relative;
}
.carousel-indicators {
    top: 315px
}

.bg-faded {
    background-color: rgb(77, 81, 119) !important;
}
#my-pics {
    padding: 10px;
    width: 40rem;
    margin: auto;
}
#bl, #bl-1 {
    position: sticky;
    top: 3.5rem;
    margin: 0 auto;
	padding: 10px;
	background-color: #a7acb0;
    z-index: -5;
}
#bl {
    opacity: 0.6;
}
#bl-1 {
    opacity: 0.3;
}
#par {
    position: sticky;
    top: 3.4rem;
    left: 10px;
    margin: 0 20px;
    padding: 10px;
    z-index: -5
}
#par-1 {
    top: .1rem;
    left: 10px;
    margin: 0 20px;
    padding: 10px;
    background-color: #a7acb0;
    z-index: -5
}
li a.nav-link {
    font-weight: bold;
}
#rys {
    position: relative;
    top: 20rem;
    left: 10px;
    margin-bottom: 0;
    padding: 10px;
}
#tex {
    margin-top: 1.8em;
    background-color: #a7acb0;
    opacity: .8
}
.table .thead-light th {
    color: #401500;
    background-color: rgb(130, 130, 143);
    border-color: #792700;
  }
#main-table, #main-table-1{
    padding-top: 3.3em;
    background-color: #a7acb0;
}
#aaa, #bbb {
    background-color: #9f9a9a;
    width: 20%
}
.table td, .table th {
    padding: .75rem;
    vertical-align: inherit;
    border-top: 3px solid #eceeef;
	background-color: #9f9a9a;
}
#foot {
    border: 1px solid white;
    background: RGBA(81, 101, 140, 0.19);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
#my-pics {
    padding: 10px;
    width: 100%;
    margin: auto;
}
.icon-about:after {
    content: " ";
    display: inline-block;
    height: 20px;
    width: 30px;
    background: url("./favicon1.jpg") no-repeat;
}
nav {
	max-width: 1150px;
	mask-image: linear-gradient(90deg,
	         rgba(255, 255, 255, 0) 0%,
			 #ffffff 5%,
			 #ffffff 95%,
			 rgba(255, 255, 255, 0) 100%); 
	margin: 0 auto;
	background: rgb(77, 81, 119) !important;
  }
  nav ul li a {
	font-size: 22px;
	color: rgba(246, 248, 245, 0.5) !important;
  }
  ul{
	margin-top: .5em; 
  }
  .btn-outline-secondary:hover {
    color: rgb(235, 8, 27) !important;
    background-color: rgb(122, 171, 245);
    border-color: rgb(131, 9, 9);
}
  .navbar-right {
	float: left !important;
  }
@media (max-width: 575.98px) { 
#tex h1,#tex p{
    margin-top: .5em;
    opacity: 1;
   font: 1.5em sans-serif;
   }
 }