<%= _.template(require('./../includes/header.html').default)() %>

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="bl">
  <div class="card-group">
    <div class="card-group">
      <div class="card">
        <a href="./article1.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article_img_1.jpg"
              alt="Зображення шляпки і парапетів"
          />
          <div class="card-block">
            <p class="card-text">Підбір та встановлення кришок на паркан</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="./article2.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article_img_3.jpg"
              alt="Зображення тротуарної плитки"
          />
          <div class="card-block">
            <p class="card-text">Вибір та укладання тротуарної плитки</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="./article3.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article_gabion.jpg"
              alt="Зображення габіонів"
          />
          <div class="card-block">
            <p class="card-text">Габіони. Що це таке і що з ним робити</p>
          </div>
        </a>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <a href="./article4.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article4/shutterstock_227160028.jpg"
              alt="article4 image"
          />
          <div class="card-block">
            <p class="card-text">81 дизайн огорож</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="./article5.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article_law_fence.jpg"
              alt="Зображення Закон Україніи про паркан"
          />
          <div class="card-block">
            <p class="card-text">
              Правове регулювання встановлення паркану в Україні
            </p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="./article6.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article6/modern+minimalist+garden+wall_750w.jpg"
              alt="Зображення конструкція деревяної стіни - паркан"
          />
          <div class="card-block">
            <p class="card-text">60 Чудових ідей і дизайнів паркана</p>
          </div>
        </a>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <a href="./article7.html">
          <img
              class="card-img-top img-fluid"
              src="./img/article7_bush.jpg"
              alt="article7 image"
          />
          <div class="card-block">
            <p class="card-text">Що потрібно знати до встановлення паркану</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)() %>
