<%= _.template(require('./../includes/header.html').default)() %>

<!--img heder-->
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par">
  <img src="img/tyn.jpg" class="img-fluid  m-x-auto" alt="Photo">
</div>
<!--end img heder-->
<!--content-->

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par-1">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h3>Квітник розбірний декоративний</h3>
      <div class="thumbnail">
        <img src="img/pots8.jpg" alt="Parapet">
        <div class="caption">
          <p>Розмір квітника:<br>
            53cm X 53cm<br>
            H-35cm</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Квітник розбірний декоративний</h3>
      <div class="thumbnail">
        <img src="img/pots-4.jpg" alt="парапет">
        <div class="caption">
          <p>Розмір квітника:<br>
            35cm X 42cm<br>
            H-38cm</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Колір сірий,червоний, коричневий </h3>
      <div class="thumbnail">
        <img src="img/kvitnyk.jpg" alt="img">
        <div class="caption">
          <p>Квітник в зборі.<br>
            35cm X 42cm<br>
            H-38cm</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Бордюр сірий,червоний шліфований</h3>
      <div class="thumbnail">
        <img src="./img/bordiyr.jpg" alt="View">
        <div class="caption">
          <p>Бордюр-розмір 50х20х4см</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par-2">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h3>Сходинки бетонні /розмір по замовленню/</h3>
      <div class="thumbnail">
        <img src="img/schody.png" alt="Parapet">
        <div class="caption">
          <p>Матеріал сходинки-мармурова крихта</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Плитка тротуарна декоративна</h3>
      <div class="thumbnail">
        <img src="img/pav.jpg" alt="img">
        <div class="caption">
          <p>Матеріал простий бетон розм.30х30х3см </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Плитка тротуарна мозаїчна </h3>
      <div class="thumbnail">
        <img src="img/plytka.jpg" alt="foto">
        <div class="caption">
          <p>Матеріал: мармурова крихта.Розм.30х30х3см</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Фасадна плитка колір на замовлення</h3>
      <div class="thumbnail">
        <img src="img/fasadna.jpg" alt="Views">
        <div class="caption">
          <p>Різнорозмірна і однорозмірна.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hidden-md-up">

<%= _.template(require('./../includes/footer.html').default)() %>
