<%= _.template(require('./../includes/header.html').default)() %>

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="tex">
  <div style="text-align: center;" class="jumbotron">
    <h1>Виконані замовлення</h1>
  </div>
</div>
<hr style="margin: 45px 0 35px;"/>
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="tex1">
  <div class="jumbotron text-center">
    <h3>Замовлення ,,Дрогобич,,</h3>
    <img src="img/bila.JPG" class="img-fluid m-x-auto" alt="Photo"/>
    <hr style="margin: 45px 0 35px;"/>
    <img src="img/bila2.JPG" class="img-fluid m-x-auto" alt="Photo"/>
    <hr style="margin: 45px 0 35px;"/>
    <h3>Замовлення ,,Калуш,,</h3>
    <img src="img/chervona4.jpg" class="img-fluid m-x-auto" alt="Photo"/>
    <hr style="margin: 45px 0 35px;"/>
   
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)() %>

