<%= _.template(require('./../includes/header.html').default)() %>

<div class='container shadow-lg p-3 mb-5 bg-secondary rounded'>
  <img src='img/parkan8.jpg' class='img-fluid m-x-auto' alt='Photo'>
</div>

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="tex">
  <div style="text-align: center; background-color: #96acc1;" class="jumbotron">
    <h1>Виробничо-складський комплекс<i>"Parkan"</i></h1>
    <p class="h3">
      Починаючи з проектування ми можемо запропонувати широкий асортимент дашків
      на стовпчики та парапетів на паркан
    </p>
  </div>
</div>
<hr style="margin: 45px 0 35px;"/>
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="tex1">
  <div class="jumbotron text-center" style="background-color: #96acc1;">
    <p style="color: #883116; font-size: 1.3em; text-indent: 20px;">
      &nbsp;&nbsp;&nbsp; Паркан - це перше, що бачить людина, підходячи до
      Вашого дому, це, можна сказати, обличчя будинку. А якщо паркан висотою
      вище зросту людини - то це єдине що побачить людина. Тому він повинен бути
      гарним, незвичайним, викликати захоплення. Композиція кришок на паркан і
      міжствопчикових перекриттів з бетону з мармуровою крихтою справляє
      незабутнє враження на всіх, хто його бачить, у першу чергу своєю
      самобутністю. Створюйте красивий паркан у себе вдома, а наша компанія Вам
      у цьому допоможе.
    </p>
    <h3>Це Фантазія кульок..!!!</h3>
    <p>Форма, колір і матеріал-це Ваше сприйняття реальності</p>
    <p><img src="img/parap7.png" class="img-fluid m-x-auto"/></p>
  </div>
</div>
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="tex2">
  <div class="jumbotron" style="background-color: #96acc1;">
    <div class="row">
      <div class="col-md-4">
        <h4 class="card-title">Виготовлення парапетів <br/>на паркан</h4>
        <img
            src="img/par1.png"
            class="img-fluid"
            style="margin: 5px 0 15px;"
            alt="img"
            width="370"
        />
        <p>
          Парапети із простого та кольорового бетону, а також шліфована
          мармурова крихта
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="card-title">Шляпки на стовпчики<br/>паркана</h4>
        <img
            src="img/par2.png"
            class="img-fluid"
            style="margin: 5px 0 15px;"
            alt="img"
            width="370"
        />
        <p>
          Накриття на стовпчики будь-яких розмірів і кольорів, а також із
          шліфованої мармурової крихти
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="card-title">Різне<br/>/бордюри,квітники.../</h4>
        <img
            src="img/par3.png"
            class="img-fluid"
            style="margin: 5px 0 15px;"
            alt="img"
            width="370"
        />
        <p>
          Колір бордюрів, тротуарної плитки та інших виробів за Вашим бажанням
        </p>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)() %>
