<%= _.template(require('./../includes/header.html').default)() %>

<!--begin img header-->
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par">
  <img src="img/tall.png" class="img-fluid m-x-auto" alt="Photo"/>
  <div class="content">
    <p>Чим вищий паркан-<br/>тим кращі сусіди</p>
  </div>
</div>
<!--end img header-->
<!--content-1-->
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par-1">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <h3>Парапет шліфований-<br/>мармурова крихта</h3>
      <div class="thumbnail">
        <img src="img/rys11.png" alt="Parapet"/>
        <div class="caption">
          <p>
            Парапет із крихти мармурової,будь-якого розміру та форми на
            мурований паркан
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-4">
      <h3>Парапет плоский-<br/>простий бетон</h3>
      <div class="thumbnail">
        <img src="img/kap2.png" alt="img"/>
        <div class="caption">
          <p>Плоский парапет сірого або червоного або коричневого...кольору.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <h3>Парапет із крихти червоний</h3>
      <div class="thumbnail">
        <img src="img/p4.png" alt="Views"/>
        <div class="caption">
          <p>
            Парапет із крихти мармурової,будь-якого розміру та форми на
            мурований паркан
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-2 -->
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par-2">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img src="img/kap1.png" alt="Parapet"/>
        <div class="caption">
          <p>Шляпка із крихти будь-якого розміру</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із червоним відтінком</h3>
      <div class="thumbnail">
        <img src="img/p2.png" alt="img"/>
        <div class="caption">
          <p>Накриття на стовпчик розм.45х45</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img src="img/kap11.png" alt="foto"/>
        <div class="caption">
          <p>Шляпка на стовпчик із кулькою.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <h3>Шляпка на стовпчик із мармурової крихти</h3>
      <div class="thumbnail">
        <img src="img/p6.png" alt="img"/>
        <div class="caption">
          <p>Кришка стовпчика із мармурової крихти любого кольору.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-3 -->

<div class="container shadow-lg p-3 mb-5 bg-secondary rounded">
  <h1 style="text-align: center;">Кришка стовпчика<i>"Квін"</i></h1>
</div>
<div class="container shadow-lg p-3 mb-5 bg-secondary rounded" id="par-2">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin1.JPG" alt="Parapet"/>
        <div class="caption">
          <p>Шляпка із білої крихти та білого цементу</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin2.JPG" alt="img"/>
        <div class="caption">
          <p>Шляпка із білої крихти та білого цементу розм.45х45</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin3.JPG" alt="foto"/>
        <div class="caption">
          <p>Шляпка на стовпчик під світильник.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin5.JPG" alt="Photo"/>
        <div class="caption">
          <p>Кришка стовпчика любого кольору.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin7.JPG" alt="Parapet"/>
        <div class="caption">
          <p>Ковпак на стовп “Квін”, бетонний із мармуровою крихтою</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin8.JPG" alt="img"/>
        <div class="caption">
          <p>
            Ковпак на стовп “Квін”, бетонний із мармуровою крихтою розм.45х45
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin10.JPG" alt="foto"/>
        <div class="caption">
          <p>Шляпка на стовпчик під світильник.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="img/kvin9.JPG" alt="Photo"/>
        <div class="caption">
          <p>Кришка стовпчика любого кольору.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hidden-md-up"/>

<%= _.template(require('./../includes/footer.html').default)() %>
